<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- BOOTSTRAP -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
			crossorigin="anonymous"
		/>

		<title>Recipes</title>
	</head>
	<body>
		<div class="container">
			<nav
				class="navbar navbar-light bg-lightstyle="
				style="background-color: #084c7400"
			>
				<div class="container-fluid">
					<a class="navbar-brand"> <h1>Edit Recipe</h1></a>

					<form class="d-flex">
						<button class="btn" type="submit">
							<a href="/dashboard">Dashboard</a>
						</button>
						<div></div>
						<button class="btn" type="submit">
							<a href="/logout">Logout</a>
						</button>
					</form>
				</div>
			</nav>
			<form
				class="row g-3"
				action="/edit/{{ selected_recipe.id }}"
				method="post"
			>
				<div class="col-md-6">
					<label class="form-label" for="name">Name:</label>
					<input
						class="form-control"
						type="text"
						name="first_name"
						value="{{selected_recipe.name}}"
						placeholder="{{ selected_recipe.name}}"
					/>
				</div>
				<div class="col-md-10">
					<label class="form-label" for="description">Description:</label>
					<input
						class="form-control"
						type="text"
						name="description"
						value="{{selected_recipe.description}}"
						placeholder="{{ selected_recipe.description}}"
					/>
				</div>
				<div class="col-md-10">
					<label class="form-label" for="instructions">Instructions:</label>
					<input
						class="form-control"
						type="text"
						name="instructions"
						value="{{selected_recipe.instructions}}"
						placeholder="{{ selected_recipe.instructions}}"
					/>
				</div>
				<!-- <fieldset class="row mb-3"> -->
				<div class="col-md-10">
					<label class="form-label" for="under_thirty">Under 30 Minutes?</label>

					<span class="d-flex align-items-center justify-content-around">
						{% if selected_recipe.under_thirty == 1 %}
						<input name="under_thirty" type="radio" value="1" checked />Yes
						<input name="under_thirty" type="radio" value="0" />No {% else %}
						<input name="under_thirty" type="radio" value="1" />Yes
						<input name="under_thirty" type="radio" value="0" checked />No {%
						endif %}
					</span>
					<div class="form-check">
						<input
							class="form-check-input"
							type="radio"
							name="gridRadios"
							id="gridRadios1"
							value="option1"
						/>
						<label class="form-check-label" for="gridRadios1"> Yes </label>
					</div>
					<div class="form-check">
						<input
							class="form-check-input"
							type="radio"
							name="gridRadios"
							id="gridRadios2"
							value="option2"
						/>
						<label class="form-check-label" for="gridRadios2"> No </label>
					</div>
				</div>
				<!-- </fieldset> -->
				<div class="col-12">
					<button type="submit" value="Update" class="btn btn-primary">
						Update
					</button>
				</div>
				<!-- <input type="submit" value="Update" /> -->
			</form>

			<!-- <h3>{{selected_recipe.name}}</h3>
			<div class="card">
				<dl class="card-body row">
					<dt class="col-sm-3">Description:</dt>
					<dd class="col-sm-9">{{ selected_recipe.description }}</dd>
					<dt class="col-sm-3">Under 30 minutes:</dt>
					<dd class="col-sm-9">{{ selected_recipe.under_thirty }}</dd>

					<dt class="col-sm-3 text-truncate">Instructions:</dt>
					<dd class="col-sm-9">{{ selected_recipe.instructions }}</dd>
					<dt class="col-sm-3">Date Made:</dt>
					<dd class="col-sm-9">
						<p>{{ selected_recipe.date_made }}</p>
					</dd>
				</dl> -->

			<!-- </div> -->
		</div>
	</body>
</html>
